@import '../../styles';

.product-card {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px $background1;
    background: rgba($background1, 0.5);
    overflow: hidden;
    margin: 15px;

    &__image-container {
        position: relative;
        width: 100%;

        .star-rating {
            position: absolute;
            bottom: 10px;
            left: 10px;
        }
    }

    &__image {
        width: 100%;
    }

    &__name {
        margin: 10px 0;
        font-size: 20px;
        font-weight: 500;
        margin: 10px;
    }

    &__category {
        font-size: 14px;
        margin: 10px;
    }

    &__footer {
        display: flex;
        align-items: center;
        margin: 10px;
        margin-top: auto;
    }

    &__cost {
        margin-right: auto;
    }
}