.products-container {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    
    &__paginator {
        display: flex;
        justify-content: center;
    }

    &__body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}