@import '../../styles';

.header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    background: $primary;
    color: $font-color-light;

    &__title {
        font-weight: 600;
        font-size: 20px;
        flex: 0 0 auto;
    }

    &__spacer {
        flex: 1 0;
    }
}