@import '../../styles';

.products-filter {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: $background1;
    border-radius: 5px;

    &__row {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        flex-direction: column;
        margin: 10px 20px;

        &-title {
            font-weight: 500;
            font-size: 18px;
            color: #333;
            margin: 5px;
        }

        &-body {
            display: flex;
            justify-items: center;
        }
    }

    &__radio {
        &-container {
            border-radius: 5px;
            border: 1px solid #AAA;
            padding: 10px;
            display: flex;
            flex-direction: column;
            margin-top: 10px;
        }
    }
}