@import '../../styles';

.custom-button {
    outline: none;
    min-height: 30px;
    min-width: 100px;
    font-size: 16px;
    font-weight: 600;
    background: transparent;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 5px 15px;
    margin: 5px;
    transition: background .1s ease-in;
    cursor: pointer;

    &_light {
        color: $font-color-light;
        border: 1px solid $font-color-light;

        &:hover {
            background: rgba($font-color-light, 0.1);
        }
    }

    &_dark {
        color: $primary;
        border: 1px solid $primary;

        &:hover {
            background: rgba($primary, 0.1);
        }
    }
}